<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.surelabsid.lti.pasaraku">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.surelabsid.lti.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasarAku"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".ui.messages.MessageActivity"
            android:theme="@style/Theme.PasarAku.NoActionBar"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ui.akun.transaksi.TransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WebBrowserActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.akun.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false" />

        <service
            android:name=".service.TokenService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".model.firebase.messaging.services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.iklan.PencarianActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.myads.PembayaranActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.register.PasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.akun.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.BasicInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_basic_info"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.register.RegisterPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.PasarAku.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.iklan.IklanByCategoriActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.iklan.TambahIklanActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.iklan.DetailIklanActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.kategori.KategoriActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar" />
        <activity
            android:name=".ui.wilayah.WilayahActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".model.firebase.messaging.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.PasarAku.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/apikey" />
    </application>

</manifest>